* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
}

:root {
  --dark-background: #2B2A61
}

html {
  font-size: 10px;
}

body {
  background-color: var(--dark-background);
}

input {
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 5px;
  border: 1px solid #d6d4d4;
}

input:focus {
  border-color: #4D78EF;
  -webkit-box-shadow: 2px 5px 10px 0 #d6d4d4, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 2px 5px 10px 0 #d6d4d4, 5px 5px 15px 5px rgba(0,0,0,0);
}

select {
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 5px;
  border: 1px solid #d6d4d4;
}

select:focus {
  border-color: #4D78EF;
  -webkit-box-shadow: 2px 5px 10px 0 #d6d4d4, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 2px 5px 10px 0 #d6d4d4, 5px 5px 15px 5px rgba(0,0,0,0);
}

label {
  font-size: 1.5rem;
  padding-bottom: .4rem;
}

button {
  width: 100%;
  font-size: 2rem;
  padding: 1.5rem;
  margin-top: 2rem;
  background-color: #4D78EF;
  border-radius: 5px;
  color: whitesmoke;
  border: none;
  -webkit-box-shadow: 2px 5px 16px 0 #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 2px 5px 16px 0 #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}

button:hover {
  background-color: #2B2A61;
}

button:focus {
  background-color: #2B2A61;
}

.App {
  margin-top: 0;
}

.form {
  width: 90%;
  margin: 0 auto 2rem auto;
  padding: 16rem 3rem 4rem 3rem;
  border-radius: 10px;
  background-color: whitesmoke;
  position: relative;
  -webkit-box-shadow: 2px 5px 16px 0 #000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 2px 5px 16px 0 #000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.inputField {
  display: grid;
  margin-top: 2rem
}

.cardDetails {
  margin-top: 2rem
}

.selectList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: .4rem;
  grid-gap: .7rem;
}

.card {
  max-width: 75%;
  margin: 0 auto;
  height: 200px;
  position: relative;
  bottom: -110px;
  border-radius: 10px;
  z-index: 1;
  padding: 2rem;
  color: whitesmoke;
  background-image: url('./backgrounds/sky.jpg');
  -webkit-box-shadow: 2px 5px 16px 0 #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 2px 5px 16px 0 #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}

.cardWrapper {
  height: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hologram {
  min-width: 70px;
  width: 20%;
  height: 150%;
  border-radius: 8px;
  background-image: url('hologram.jpg');
}

.visaLogo {
  font-size: 3rem;
  font-weight: bold;
}

.cardNumberSection {
  font-size: 2rem;
  /*font-size: 2.5rem;*/
  margin-top: 2rem;
  padding: .5rem 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

.cardTopSection, .cardBottomSection {
  display: flex;
  justify-content: space-between;
}

.cardData {
  display: grid;
  padding-left: 1rem;
}

.data {
  font-size: 1.3rem;
}

.dataDetail {
  font-size: 1.5rem;
}

.holder {
  width: 70%;
  border: 1px solid black;
  border-radius: 5px;
}

.expiration {
  width: 30%;
  margin-left: .7rem;
  border: 1px solid black;
  border-radius: 5px;
}

@media(min-width: 470px) {
  .form {
    width: 80%
  }
  .card {
    width: 65%;
    min-width: 300px;
    height: 250px;
    max-width: 420px
  }
  .expiration {
    width: 25%;
  }
}


@media(min-width: 768px) {
  .App {
    margin-top: 6rem
  }
  .form {
    width: 70%;
    max-width: 550px;
  }
  .cardDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
  .inputField {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .cardNumberSection {
    font-size: 3rem;
  }
  .data {
    font-size: 1.5rem;
  }

  .dataDetail {
    font-size: 2rem;
  }
  .expiration {
    padding-left: 2rem;
  }
}





