
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
}

:root {
  --primary-background-color: #2B2A61;
  --secondary-background-color: #4D78EF;
  font-size: 10px;
}

body {
  background-color: var(--primary-background-color);
  margin-top: -8rem
}

input, select {
  padding: 1.5rem;
  font-size: 2rem;
  border-radius: 5px;
  border: 1px solid #d6d4d4;
}

input:focus, select:focus {
  -webkit-box-shadow: 2px 5px 10px 0 #d6d4d4, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 2px 5px 10px 0 #d6d4d4, 5px 5px 15px 5px rgba(0,0,0,0);
  border-color: var(--secondary-background-color);
  transition: 1s ease all;
}

input:hover, select:hover {
  border-color: var(--secondary-background-color);
  transition: 1s ease all;
}

input:invalid {
  border: 1px solid red;
}

label {
  font-size: 1.5rem;
  padding-bottom: .4rem;
}

.form {
  display: grid;
  grid-gap: 2rem;
  width: 90%;
  margin: 0 auto 3rem auto;
  padding: 16rem 3rem 4rem 3rem;
  border-radius: 10px;
  background-color: whitesmoke;
  position: relative;
  -webkit-box-shadow: 2px 5px 16px 0 #000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 2px 5px 16px 0 #000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.inputField {
  display: grid;
}

.cardDetails {
  display: grid;
  grid-gap: 2rem
}

.selectList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: .4rem;
  grid-gap: .7rem;
}

.card {
  max-width: 75%;
  margin: 0 auto;
  height: 200px;
  position: relative;
  bottom: -120px;
  border-radius: 10px;
  z-index: 1;
  color: whitesmoke;
  /*background-image: url('./backgrounds/bg14.jpg');*/
  -webkit-box-shadow: 2px 5px 16px 0 #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 2px 5px 16px 0 #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}

.cardFrontWrapper {
  height: 100%;
  padding: 2rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hologram {
  min-width: 70px;
  width: 18%;
  height: 120%;
  border-radius: 8px;
  background-image: url('hologram.jpg');
}

.visaLogo {
  font-size: 3rem;
  font-weight: bold;
}

.cardNumberSection {
  font-size: 2rem;
  margin-top: 2rem;
  padding: .5rem 1rem;
}

.cardTopSection, .cardBottomSection {
  display: flex;
  justify-content: space-between;
}

.cardData {
  display: grid;
  padding-left: 1rem;
}

.data {
  font-size: 1.3rem;
}

.dataDetail {
  font-size: 1.5rem;
}

.holder {
  width: 70%;
}

.expiration {
  width: 30%;
  margin-left: .5rem;
}

.active {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px)
}

.themeSection {
  display: grid;
}

.gallerySection {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid #d6d4d4;
}

.themeGallery {
  display: grid;
  grid-template-columns: 1fr;
  /*grid-template-columns: 1fr 1fr 1fr;*/
  grid-gap: 1rem;
  padding: 0 1rem
}

.arrow {
  font-size: 3rem;
  border: none;
  max-width: 4rem;
  background-color: transparent;
}

.arrow:hover {
  padding: 1px;
  border: 1px solid #d6d4d4;
  cursor: pointer;
}

.smallImg {
  width: 50%;
  height: 4.5rem;
  margin: 0 auto
}

.smallImg:hover {
  padding: 1px;
  border: 1px solid #d6d4d4;
  cursor: pointer;
}
.btn {
  font-size: 2rem;
  padding: 1rem;
  margin-top: 2rem;
  background-color: var(--secondary-background-color);
  border-radius: 5px;
  color: whitesmoke;
  border: none;
  -webkit-box-shadow: 2px 5px 16px 0 #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 2px 5px 16px 0 #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}

.btn:hover {
  background-color: var(--primary-background-color);
  transition: .5s ease all;
  cursor: pointer;
}
.btn:active {
  background-color: #4D78EF;
  cursor: pointer;
}

.btnSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

/*CARD BACK SIDE*/

.cardBackWrapper {
  display: grid;
  grid-gap: 1.2rem;
  margin: 1.5rem 0;
}

.blackLine {
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.backBottomSection {
  margin: 0 2rem;
  display: grid;
  grid-gap: 2rem;
}

.cvvSection {
  font-size: 1.5rem;
}

.cvvNumber {
  height: 3.8rem;
  border-radius: 5px;
  margin-top: .5rem;
  padding-left: 1.5rem;
  font-size: 3rem;
  background-color: whitesmoke;
  color: black;
}

.backLogo {
  font-size: 2.5rem;
  margin-right: 1rem;
  float: right;
}

.warning {
  font-size: 1.5rem;
  color: red;
}

/*MEDIA QUERIES*/

@media(min-width: 470px) {
  .form {
    width: 80%
  }
  .card {
    width: 65%;
    min-width: 300px;
    height: 250px;
    max-width: 420px
  }
  .expiration {
    width: 25%;
  }
  .themeGallery {
    grid-template-columns: 1fr;
  }
  .gallerySection {
    grid-template-columns: 1fr 3fr 1fr;
  }
  .smallImg {
    width: 40%;
  }
  .arrow {
    max-width: 7rem
  }
}

@media(min-width: 768px) {
  .App {
    margin-top: 6rem
  }
  .form {
    width: 70%;
    max-width: 550px;
  }

  .hologram {
    height: 110%;
    width: 15%;
  }

  .visaLogo {
    font-size: 3.6rem;
  }
  .cardDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }
  .inputField {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .cardNumberSection {
    font-size: 3rem;
  }
  .data {
    font-size: 1.5rem;
  }
  .dataDetail {
    font-size: 2rem;
  }
  .expiration {
    padding-left: 2rem;
  }

  .cardBackWrapper {
    grid-gap: 2rem;
    margin: 2rem 0;
  }

  .blackLine {
    height: 4.5rem;
    margin-top: 3rem;
  }

  .cvvNumber {
    height: 4.5rem;
    border-radius: 5px;
    margin-top: .5rem;
  }


}





